body {
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  width: 1920px;
}

.nav {
  font-size: 0px;
  height: 123px;
}
.nav .nav__logo {
  display: inline-block;
  margin-left: 260px;
  margin-top: 27px;
}
.nav .nav__menu {
  display: inline-block;
  vertical-align: top;
  margin-top: 54px;
  margin-left: 61px;
  font-size: 0;
  font-weight: 400;
  line-height: 17.58px;
}
.nav .nav__menu a {
  font-size: 15px;
}
.nav .nav__menu .link__middle {
  margin-left: 45px;
}
.nav .nav__search {
  display: inline-block;
  vertical-align: top;
  margin-top: 52px;
  margin-left: 50px;
}
.nav .nav__search input {
  vertical-align: top;
  border: 0;
}
.nav .nav__business {
  display: inline-block;
  vertical-align: top;
  margin-top: 36px;
  margin-left: 172px;
}
.nav .nav__business button {
  margin-left: 30px;
  height: 49px;
  width: 49px;
}
.nav .nav__business .profile .profile__menu {
  position: absolute;
  z-index: 1;
  height: 389px;
  width: 405px;
  margin: 30px 0px 0px -180px;
  display: none;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.13);
}
.nav .nav__business .profile .profile__menu .profile__menu__item {
  padding: 21px 0px 0px 30px;
  height: 48px;
  text-align: initial;
}
.nav .nav__business .profile .profile__menu .profile__menu__item .textMain {
  margin: 0px 0px 0px 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.nav .nav__business .profile .profile__menu .profile__menu__item .textMain {
  margin: 0px 0px 0px 0px;
}
.nav .nav__business .profile .profile__menu .profile__menu__item:first-child {
  padding-top: 34.49px;
  height: 79.49px;
}
.nav .nav__business .profile .profile__menu .profile__menu__item:first-child .textMain {
  margin: -43px 0px 0px 69px;
}
.nav .nav__business .profile .profile__menu .profile__menu__item:first-child .textMain:nth-child(3) {
  position: absolute;
  margin: -145px 0px 0px 65px;
}
.nav .nav__business .profile .profile__menu .profile__menu__square {
  position: absolute;
  margin: -397px 0px 0px 199px;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  z-index: 1;
  transform: rotate(-45deg);
  background-color: rgb(255, 255, 255);
}
.nav .nav__business .profile:hover .profile__menu {
  display: block;
}
.nav .nav__business .cart .nav__number {
  position: absolute;
  margin: -53px 0px 0px 14px;
}

.slider {
  height: 684px;
  background-color: rgb(242, 242, 242);
  user-select: none;
}
.slider .slider__main {
  width: 1411px;
  display: inline-block;
}
.slider .slider__main .textSecond {
  position: absolute;
  margin: -431px 0px 0px 390px;
}
.slider .slider__main .textMain {
  position: absolute;
  margin: -391px 0px 0px 390px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58.59px;
}
.slider .slider__main .textSecond__additional {
  position: absolute;
  margin: -279px 0px 0px 217px;
  font-weight: 300;
  font-size: 16px;
  line-height: 18.75px;
  transform: rotate(-90deg);
}
.slider .slider__main .slider__icon {
  position: absolute;
  margin: -198px 0px 0px 260px;
}
.slider .slider__main button {
  position: absolute;
  margin: -215px 0px 0px 384px;
  background-color: unset;
}
.slider .slider__main button .slider__main__button {
  border-radius: 46%;
}
.slider .slider__main button .textMain {
  margin: -44.5px 0px 0px 67px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.slider .slider__main .slider__item {
  position: absolute;
  margin: -610px 0px 0px 1094px;
  visibility: hidden;
}
.slider .slider__main .slider__item:nth-child(1) {
  transform: translateX(-300px);
  visibility: visible;
}
.slider .slider__main .dots {
  width: 79px;
  position: absolute;
  display: flex;
  flex-flow: wrap;
  font-size: 0;
  margin: -179px 0px 0px 1302px;
}
.slider .slider__main .dots .dot {
  margin-right: 10px;
  display: flex;
}
.slider .slider__main .dots .inactive__dot {
  height: 5px;
  padding-top: 1px;
}
.slider .slider__next {
  display: inline-block;
  height: 684px;
  background-color: rgb(249, 249, 249);
}
.slider .slider__next .textMain {
  position: absolute;
  margin: 320px 0px 0px 36px;
  font-weight: 400;
  font-size: 25px;
  line-height: 32.5px;
}
.slider .slider__next .slider__next__arrow {
  position: absolute;
  margin: 498px 0px 0px 36px;
}
.slider .slider__next .slider__next__img {
  position: absolute;
  margin: 0px 0px 0px -4px;
}

.catalog {
  height: 1126px;
}
.catalog .catalog__wrap {
  padding-left: 220px;
  padding-top: 164px;
  font-size: 0;
}
.catalog .catalog__wrap .catalog__item {
  width: 440px;
  height: 371px;
  margin-left: 40px;
  margin-bottom: 40px;
  background-color: #F2F2F2;
  border-radius: 20px;
  display: inline-block;
}
.catalog .catalog__wrap .catalog__item .catalog__image {
  position: absolute;
}
.catalog .catalog__wrap .catalog__item .catalogTwo {
  margin: -11px 13px 136px 12px;
}
.catalog .catalog__wrap .catalog__item .catalogThree {
  margin: -22px 58px 148px 115px;
}
.catalog .catalog__wrap .catalog__item .catalogFour {
  margin: 80px 52px 153px 51px;
}
.catalog .catalog__wrap .catalog__item .catalogFive {
  margin: 58px 76px 153px 75px;
}
.catalog .catalog__wrap .catalog__item .catalogSix {
  margin: 37px 30px 120px 87px;
}
.catalog .catalog__wrap .catalog__item .catalog__numbers {
  position: absolute;
  margin: 40px 0 0 40px;
  font-weight: 100;
  font-size: 25px;
  line-height: 37.5px;
  color: #292D32;
}
.catalog .catalog__wrap .catalog__item .Catalog__textSecond {
  color: #838383;
  position: absolute;
  margin-top: 264px;
  margin-left: 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24.06px;
}
.catalog .catalog__wrap .catalog__item .Catalog__textMain {
  color: #292D32;
  margin-top: 293px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 25px;
  line-height: 37.5px;
}
.catalog .catalog__wrap .catalog__item__text {
  width: 388px;
  height: 311px;
  vertical-align: top;
  background-color: #FFFFFF;
  margin-right: 52px;
  margin-bottom: 60px;
}
.catalog .catalog__wrap .catalog__item__text .textSecond {
  padding-top: 29px;
}
.catalog .catalog__wrap .catalog__item__text button {
  padding: 0px;
  margin-top: 46px;
}
.catalog .catalog__wrap .catalog__item__text button img {
  display: inline-block;
  vertical-align: top;
}
.catalog .catalog__wrap .catalog__item__text button p {
  padding-top: 14px;
  padding-left: 12px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #292D32;
}
.catalog .catalog__wrap .catalog__dark {
  background-color: #F2F2F2;
}
.catalog .catalog__wrap .catalog__light {
  background-color: #F9F9F9;
}

.advantage {
  height: 962px;
  background-color: #F2F2F2;
}
.advantage .advantage__main {
  position: relative;
  height: 0;
}
.advantage .advantage__main img {
  position: absolute;
  margin: 86px 867px 383px 180px;
}
.advantage .advantage__main .textMain {
  position: absolute;
  margin: 182px 0 729px 974px;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
}
.advantage .advantage__main .textSecond {
  position: absolute;
  margin: 270px 0 611px 975px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.advantage .advantage__main button {
  padding: 0;
}
.advantage .advantage__main button img {
  position: absolute;
  margin: 378px 0 515px 975px;
  background-color: #F2F2F2;
  border-radius: 50%;
}
.advantage .advantage__main button p {
  position: absolute;
  margin: 392px 0 526px 1042px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.advantage .advantage__wrap {
  margin: 626px 0 0 233px;
  font-size: 0;
}
.advantage .advantage__wrap .advantage__item {
  display: inline-block;
  width: 330px;
  height: 289px;
  background-color: #292D32;
  border-radius: 16px;
  margin-left: 27px;
}
.advantage .advantage__wrap .advantage__item .advantage__item__wrap {
  position: relative;
}
.advantage .advantage__wrap .advantage__item .advantage__item__wrap .advantage__icon {
  position: absolute;
  height: 70px;
  width: 70px;
  margin: 30px 0 0 30px;
  background-color: #343A41;
  border-radius: 10px;
}
.advantage .advantage__wrap .advantage__item .advantage__item__wrap .advantage__icon img {
  margin: 17px 0 0 17px;
}
.advantage .advantage__wrap .advantage__item .advantage__item__wrap .advantage__line {
  position: absolute;
  width: 139.5px;
  height: 90px;
  margin: 4px 6px 0 188.5px;
}
.advantage .advantage__wrap .advantage__item .advantage__item__wrap .textMain {
  position: absolute;
  margin: 126px 0 0 30px;
  font-family: "Euclid Circular A";
  color: #FFFFFF;
  font-weight: 700;
  font-size: 22px;
  line-height: 27.9px;
}
.advantage .advantage__wrap .advantage__item .advantage__item__wrap .textSecond {
  position: absolute;
  margin: 194px 0 0 30px;
  font-family: "Euclid Circular A";
  color: #B7B7B7;
  font-weight: 300;
  font-size: 16px;
  line-height: 20.29px;
}
.advantage .advantage__wrap .advantage__item:nth-child(2) .advantage__item__wrap .advantage__icon {
  margin: 30px 0 0 31px;
}
.advantage .advantage__wrap .advantage__item:nth-child(2) .advantage__item__wrap .advantage__line {
  width: 139.5px;
  height: 90px;
  margin: 4px -1px 0 190px;
}
.advantage .advantage__wrap .advantage__item:nth-child(2) .advantage__item__wrap .textMain, .advantage .advantage__wrap .advantage__item:nth-child(2) .advantage__item__wrap .textSecond {
  margin-left: 31px;
}
.advantage .advantage__wrap .advantage__item:nth-child(3) .advantage__item__wrap .advantage__line {
  width: 139.5px;
  height: 90px;
  margin: 1px 6px 0 188px;
}
.advantage .advantage__wrap .advantage__item:nth-child(4) .advantage__item__wrap .advantage__line {
  width: 139.5px;
  height: 90px;
  margin: 1px 6px 0 188px;
}

.news {
  height: 1674px;
  background-color: #FEFEFE;
}
.news .news__wrap {
  width: 1521px;
  margin: 0 0 0 195px;
  padding-top: 172px;
  font-size: 0;
}
.news .news__wrap .news__main__text {
  display: inline-block;
  margin-left: 65px;
  width: 723px;
}
.news .news__wrap .news__main__text .textMain {
  line-height: 58.59px;
}
.news .news__wrap .news__main__text .textSecond {
  margin-top: 25px;
}
.news .news__wrap .news__main__button {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 512px;
  margin-top: 8px;
  width: 165px;
}
.news .news__wrap .news__main__button p {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-top: 14px;
}
.news .news__wrap .news__main__button button {
  position: absolute;
  margin-left: 104px;
  margin-top: -1.5px;
}
.news .news__wrap .news__item__wrap {
  margin: 0 61px 0 0px;
  padding-top: 31px;
}
.news .news__wrap .news__item__wrap .news__item {
  display: inline-block;
  position: relative;
  width: 415px;
  height: 364px;
  margin-left: 65px;
  margin-top: 38px;
  background-color: #FFFFFF;
  border-radius: 50px 0 50px 0;
}
.news .news__wrap .news__item__wrap .news__item img {
  border-radius: 0 0 45px 0;
}
.news .news__wrap .news__item__wrap .news__item .news__item__stroke {
  position: absolute;
  margin: 218px 0px 0px -415px;
  border-radius: 0;
}
.news .news__wrap .news__item__wrap .news__item .textMain {
  position: absolute;
  margin: -20px 0 0 30px;
  font-weight: 700;
  font-size: 25px;
  line-height: 32.5px;
}
.news .news__wrap .news__item__wrap .news__item .textSecond {
  position: absolute;
  margin: 55px 0 0 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.news .news__wrap .news__item__wrap .news__item .news__item__date {
  position: absolute;
  background-color: #FFFFFF;
  width: 50px;
  height: 97px;
  border-radius: 16.5px;
  margin: -197.5px 0px 0px 390px;
}
.news .news__wrap .news__item__wrap .news__item .news__item__date .textMain {
  font-weight: 900;
  font-size: 20px;
  line-height: 23.44px;
  position: absolute;
  margin: 24.5px 0px 0px 13.5px;
}
.news .news__wrap .news__item__wrap .news__item .news__item__date .textSecond {
  font-weight: 300;
  font-size: 10px;
  line-height: 11.72px;
  position: absolute;
  margin: 59px 0px 0px 13px;
}
.news .news__wrap .news__item__wrap .news__item button {
  transform: translateY(-41%) translateX(282%);
  background: unset;
}
.news .news__wrap .news__item__wrap .news__item:nth-child(4) {
  margin-top: 40px;
}
.news .news__wrap .news__item__wrap .news__item:nth-child(5) {
  margin-top: 40px;
}
.news .news__wrap .news__item__wrap .news__item:nth-child(6) {
  margin-top: 40px;
}

.contactForm {
  height: 676px;
  background-color: #EEEEEE;
}
.contactForm .contactForm__wrap {
  font-size: 0;
}
.contactForm .contactForm__wrap .contactForm__info {
  background-color: #F9F9F9;
  width: 700px;
  height: 842px;
  display: inline-block;
  border-radius: 20px 0px 0px 20px;
  vertical-align: top;
  margin: -346px 0px 0px 260px;
}
.contactForm .contactForm__wrap .contactForm__info .textMain {
  margin: 100px 0px 0px 100px;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
}
.contactForm .contactForm__wrap .contactForm__info .textSecond {
  margin: 18px 0px 0px 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__image__phone {
  position: absolute;
  margin: -50px 0px 0px 492px;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__address {
  margin: 47px 0px 0px 101px;
  height: 103px;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__address .contactForm__info__item__text {
  margin: -50px 0px 0px -45px;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__address .contactForm__info__item__text .textSecond {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.06px;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__address .contactForm__info__item__text .textMain {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin: 7px 0px 0px 100px;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__mail {
  margin: 47px 0px 0px 102px;
  height: 68px;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__mail .contactForm__info__item__text {
  margin: -50px 0px 0px -45px;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__mail .contactForm__info__item__text .textSecond {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.06px;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__mail .contactForm__info__item__text .textMain {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin: 7px 0px 0px 99px;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__phone {
  margin: 72px 0px 0px 102px;
  height: 103px;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__phone .contactForm__info__item__text {
  margin: -49px 0px 0px -46px;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__phone .contactForm__info__item__text .textSecond {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.06px;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__phone .contactForm__info__item__text .textMain {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin: 8px 0px 0px 99.5px;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__info__links {
  margin-left: 102.5px;
  margin-top: 59.5px;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__info__links a {
  font-size: 0;
  width: 37.71px;
  height: 37.71px;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__info__links a img {
  display: inline-block;
}
.contactForm .contactForm__wrap .contactForm__info .contactForm__info__links a:nth-child(2) {
  margin-left: 18.29px;
}
.contactForm .contactForm__wrap .contactForm__interact {
  background-color: #292D32;
  width: 700px;
  height: 842px;
  display: inline-block;
  border-radius: 0px 20px 20px 0px;
  vertical-align: top;
  margin: -347px 0px 0px 0px;
}
.contactForm .contactForm__wrap .contactForm__interact .textMain {
  margin: 100px 0px 0px 129px;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #FFFFFF;
}
.contactForm .contactForm__wrap .contactForm__interact .textSecond {
  margin: 18px 0px 0px 129px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form {
  margin: 64.75px 0px 0px 128px;
}
.contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form .contactForm__interact__form__name {
  color: #F2F2F2;
  width: 428px;
  height: 55.25px;
  border: 2px solid rgba(242, 242, 242, 0.5);
  background-color: #292D32;
  border-radius: 16px 21px 21px 21px;
}
.contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form .contactForm__interact__form__phone {
  color: #F2F2F2;
  margin-top: 50.75px;
  width: 428px;
  height: 55.25px;
  border: 2px solid rgba(242, 242, 242, 0.5);
  background-color: #292D32;
  border-radius: 18px 21px 21px 21px;
}
.contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form .contactForm__interact__form__comment {
  color: #F2F2F2;
  margin-top: 50.75px;
  width: 428px;
  border: 2px solid rgba(242, 242, 242, 0.5);
  background-color: #292D32;
  height: 141px;
  border-radius: 17px 21px 21px 21px;
}
.contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form .contactForm__interact__form__name__label {
  margin: -10px 0px 0px 15px;
  position: absolute;
  color: #F2F2F2;
  font-size: 18px;
  line-height: 24.06px;
  background-color: #292D32;
  width: 100px;
  text-align: center;
}
.contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form .contactForm__interact__form__phone__label {
  margin: 102px 0px 0px -417.5px;
  position: absolute;
  color: #F2F2F2;
  font-size: 18px;
  line-height: 24.06px;
  background-color: #292D32;
  width: 160px;
  text-align: center;
}
.contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form .contactForm__interact__form__comment__label {
  margin: 153px 0px 0px -417px;
  position: absolute;
  color: #F2F2F2;
  font-size: 18px;
  line-height: 24.06px;
  background-color: #292D32;
  width: 135px;
  text-align: center;
}
.contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form button {
  margin: 55px 0px 0px -5px;
  display: block;
  background-color: unset;
}
.contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form button img {
  border-radius: 50px;
}
.contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form button p {
  position: absolute;
  margin: -43px 0px 0px 67px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

.footer {
  height: 438px;
}
.footer .footer__wrap {
  margin: 60px 260px 0px 260px;
}
.footer .footer__wrap hr {
  margin-top: 59px;
  color: rgb(229, 229, 229);
}
.footer .footer__wrap .footer__first {
  height: 179px;
  font-size: 0;
}
.footer .footer__wrap .footer__first .footer__logo {
  display: inline-block;
  margin-right: 10px;
  transform: translateY(26%);
}
.footer .footer__wrap .footer__first .footer__item {
  display: inline-block;
  margin-left: 180px;
  vertical-align: top;
}
.footer .footer__wrap .footer__first .footer__item ul li {
  margin-top: 10px;
  height: 19px;
}
.footer .footer__wrap .footer__first .footer__item ul li .textMain {
  font-weight: 400;
  font-size: 25px;
  line-height: 29.3px;
  color: rgb(41, 45, 50);
}
.footer .footer__wrap .footer__first .footer__item ul li .textSecond {
  font-weight: 300;
  font-size: 16px;
  line-height: 18.75px;
  color: rgb(41, 45, 50);
}
.footer .footer__wrap .footer__first .footer__item ul li:first-child {
  padding-bottom: 6px;
  margin-top: 0px;
  height: 29px;
}
.footer .footer__wrap .footer__first .footer__item:nth-child(2) {
  width: 214px;
}
.footer .footer__wrap .footer__first .footer__item:nth-child(3) {
  width: 195px;
}
.footer .footer__wrap .footer__first .footer__item:nth-child(4) {
  width: 139px;
}
.footer .footer__wrap .footer__second {
  font-size: 0;
}
.footer .footer__wrap .footer__second .footer__item {
  display: inline-block;
  margin-top: 30px;
  vertical-align: top;
}
.footer .footer__wrap .footer__second .footer__item .textSecond {
  font-weight: 400;
  font-size: 16px;
  line-height: 21.39px;
  color: #838383;
}
.footer .footer__wrap .footer__second .footer__item .textMain {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #292D32;
  margin-top: 12px;
}
.footer .footer__wrap .footer__second .footer__item:nth-child(1) {
  width: 404px;
}
.footer .footer__wrap .footer__second .footer__item:nth-child(2) {
  width: 289px;
  margin-left: 153px;
}
.footer .footer__wrap .footer__second .footer__item:nth-child(3) {
  width: 154.26px;
  margin-left: 153px;
  margin-top: 25px;
}
.footer .footer__wrap .footer__second .footer__links {
  position: absolute;
  margin: -52px 0px 0px 1306.5px;
}
.footer .footer__wrap .footer__second .footer__links a {
  margin: 0px 18px 0px 0px;
}

.textMain {
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  color: #292D32;
}

.textSecond {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #838383;
}

a, a:active, a:hover {
  text-decoration: none;
  color: #292D32;
}

button {
  border: 0px;
  background-color: #FFFFFF;
}

p {
  font-family: "Roboto", sans-serif;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

@media (max-width: 375px) {
  body {
    width: 375px;
    height: 7769px;
  }
  .nav {
    font-size: 0px;
    height: 123px;
  }
  .nav .nav__logo {
    display: inline-block;
    margin-left: 10px;
    margin-top: 12px;
    transform: scale(0.86);
  }
  .nav .nav__menu {
    visibility: hidden;
    display: inline-block;
    vertical-align: top;
    margin-top: 54px;
    margin-left: 61px;
    font-size: 0;
    font-weight: 400;
    line-height: 17.58px;
  }
  .nav .nav__menu a {
    font-size: 15px;
  }
  .nav .nav__menu .link__middle {
    margin-left: 45px;
  }
  .nav .nav__search {
    display: inline-block;
    vertical-align: top;
    margin-top: -44px;
    margin-left: -233px;
    position: absolute;
  }
  .nav .nav__search input {
    vertical-align: top;
    border: 0;
  }
  .nav .nav__business {
    position: absolute;
    margin-top: -132px;
    margin-left: -220px;
  }
  .nav .nav__business button {
    margin-left: 30px;
    height: 49px;
    width: 49px;
  }
  .nav .nav__business .profile {
    position: absolute;
    margin: 71px 0px 0px 30px;
  }
  .nav .nav__business .compare {
    display: none;
  }
  .nav .nav__business .liked {
    display: none;
  }
  .nav .nav__business .cart {
    margin: 71px 0px 0px 91px;
    position: absolute;
  }
  .slider {
    transform: scale(0.86);
    height: 684px;
    background-color: rgb(242, 242, 242);
    user-select: none;
  }
  .slider .slider__main {
    width: 1411px;
    display: inline-block;
  }
  .slider .slider__main .textSecond {
    position: absolute;
    margin: -431px 0px 0px 390px;
  }
  .slider .slider__main .textMain {
    position: absolute;
    margin: -391px 0px 0px 390px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58.59px;
  }
  .slider .slider__main .textSecond__additional {
    position: absolute;
    margin: -279px 0px 0px 217px;
    font-weight: 300;
    font-size: 16px;
    line-height: 18.75px;
    transform: rotate(-90deg);
  }
  .slider .slider__main .slider__icon {
    position: absolute;
    margin: -198px 0px 0px 260px;
  }
  .slider .slider__main button {
    position: absolute;
    margin: -215px 0px 0px 384px;
    background-color: unset;
  }
  .slider .slider__main button .slider__main__button {
    border-radius: 46%;
  }
  .slider .slider__main button .textMain {
    margin: -45px 0px 0px 67px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }
  .slider .slider__main .slider__item {
    position: absolute;
    margin: -610px 0px 0px 1094px;
    visibility: hidden;
  }
  .slider .slider__main .slider__item:nth-child(1) {
    transform: translateX(-300px);
    visibility: visible;
  }
  .slider .slider__main .dots {
    width: 79px;
    position: absolute;
    display: flex;
    flex-flow: wrap;
    font-size: 0;
    margin: -179px 0px 0px 1302px;
  }
  .slider .slider__main .dots .dot {
    margin-right: 10px;
    display: flex;
  }
  .slider .slider__main .dots .inactive__dot {
    height: 5px;
    padding-top: 1px;
  }
  .slider .slider__next {
    display: inline-block;
    height: 684px;
    background-color: rgb(249, 249, 249);
  }
  .slider .slider__next .textMain {
    position: absolute;
    margin: 321px 0px 0px 36px;
    font-weight: 400;
    font-size: 25px;
    line-height: 32.5px;
  }
  .slider .slider__next .slider__next__arrow {
    position: absolute;
    margin: 498px 0px 0px 36px;
  }
  .slider .slider__next .slider__next__img {
    position: absolute;
    margin: 0px 0px 0px -4px;
  }
  .catalog {
    transform: scale(0.86);
    height: 1126px;
  }
  .catalog .catalog__wrap {
    padding-left: 220px;
    padding-top: 164px;
    font-size: 0;
  }
  .catalog .catalog__wrap .catalog__item {
    width: 440px;
    height: 371px;
    margin-left: 40px;
    margin-bottom: 40px;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: inline-block;
  }
  .catalog .catalog__wrap .catalog__item .catalog__image {
    position: absolute;
  }
  .catalog .catalog__wrap .catalog__item .catalogTwo {
    margin: -10px 13px 136px 12px;
  }
  .catalog .catalog__wrap .catalog__item .catalogThree {
    margin: -21px 58px 148px 115px;
  }
  .catalog .catalog__wrap .catalog__item .catalogFour {
    margin: 81px 52px 153px 51px;
  }
  .catalog .catalog__wrap .catalog__item .catalogFive {
    margin: 59px 76px 153px 75px;
  }
  .catalog .catalog__wrap .catalog__item .catalogSix {
    margin: 38px 30px 120px 87px;
  }
  .catalog .catalog__wrap .catalog__item .catalog__numbers {
    position: absolute;
    margin: 40px 0 0 40px;
    font-weight: 100;
    font-size: 25px;
    line-height: 37.5px;
    color: #292D32;
  }
  .catalog .catalog__wrap .catalog__item .Catalog__textSecond {
    color: #838383;
    position: absolute;
    margin-top: 264px;
    margin-left: 40px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24.06px;
  }
  .catalog .catalog__wrap .catalog__item .Catalog__textMain {
    color: #292D32;
    margin-top: 293px;
    margin-left: 40px;
    font-weight: 400;
    font-size: 25px;
    line-height: 37.5px;
  }
  .catalog .catalog__wrap .catalog__item__text {
    width: 388px;
    height: 311px;
    vertical-align: top;
    background-color: #FFFFFF;
    margin-right: 52px;
    margin-bottom: 60px;
  }
  .catalog .catalog__wrap .catalog__item__text .textSecond {
    padding-top: 29px;
  }
  .catalog .catalog__wrap .catalog__item__text button {
    padding: 0px;
    margin-top: 46px;
  }
  .catalog .catalog__wrap .catalog__item__text button img {
    display: inline-block;
    vertical-align: top;
  }
  .catalog .catalog__wrap .catalog__item__text button p {
    padding-top: 14px;
    padding-left: 12px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #292D32;
  }
  .catalog .catalog__wrap .catalog__dark {
    background-color: #F2F2F2;
  }
  .catalog .catalog__wrap .catalog__light {
    background-color: #F9F9F9;
  }
  .advantage {
    transform: scale(0.86);
    height: 962px;
    background-color: #F2F2F2;
  }
  .advantage .advantage__main {
    position: relative;
    height: 0;
  }
  .advantage .advantage__main img {
    position: absolute;
    margin: 87px 867px 383px 180px;
  }
  .advantage .advantage__main .textMain {
    position: absolute;
    margin: 183px 0 729px 974px;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
  }
  .advantage .advantage__main .textSecond {
    position: absolute;
    margin: 270px 0 611px 975px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }
  .advantage .advantage__main button {
    padding: 0;
  }
  .advantage .advantage__main button img {
    position: absolute;
    margin: 379px 0 515px 975px;
    background-color: #F2F2F2;
    border-radius: 50%;
  }
  .advantage .advantage__main button p {
    position: absolute;
    margin: 393px 0 526px 1042px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }
  .advantage .advantage__wrap {
    margin: 627px 0 0 233px;
    font-size: 0;
  }
  .advantage .advantage__wrap .advantage__item {
    display: inline-block;
    width: 330px;
    height: 289px;
    background-color: #292D32;
    border-radius: 18px;
    margin-left: 27px;
  }
  .advantage .advantage__wrap .advantage__item .advantage__item__wrap {
    position: relative;
  }
  .advantage .advantage__wrap .advantage__item .advantage__item__wrap .advantage__icon {
    position: absolute;
    height: 70px;
    width: 70px;
    margin: 30px 0 0 30px;
    background-color: #343A41;
    border-radius: 10px;
  }
  .advantage .advantage__wrap .advantage__item .advantage__item__wrap .advantage__icon img {
    margin: 17px 0 0 17px;
  }
  .advantage .advantage__wrap .advantage__item .advantage__item__wrap .advantage__line {
    position: absolute;
    width: 139.5px;
    height: 90px;
    margin: 4px 6px 0 188.5px;
  }
  .advantage .advantage__wrap .advantage__item .advantage__item__wrap .textMain {
    position: absolute;
    margin: 125px 0 0 30px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 27.9px;
  }
  .advantage .advantage__wrap .advantage__item .advantage__item__wrap .textSecond {
    position: absolute;
    margin: 194px 0 0 30px;
    color: #B7B7B7;
    font-weight: 300;
    font-size: 16px;
    line-height: 20.29px;
  }
  .advantage .advantage__wrap .advantage__item:nth-child(2) .advantage__item__wrap .advantage__icon {
    margin: 30px 0 0 31px;
  }
  .advantage .advantage__wrap .advantage__item:nth-child(2) .advantage__item__wrap .advantage__line {
    width: 139.5px;
    height: 90px;
    margin: 4px -1px 0 190px;
  }
  .advantage .advantage__wrap .advantage__item:nth-child(2) .advantage__item__wrap .textMain, .advantage .advantage__wrap .advantage__item:nth-child(2) .advantage__item__wrap .textSecond {
    margin-left: 31px;
  }
  .advantage .advantage__wrap .advantage__item:nth-child(3) .advantage__item__wrap .advantage__line {
    width: 139.5px;
    height: 90px;
    margin: 1px 6px 0 188px;
  }
  .advantage .advantage__wrap .advantage__item:nth-child(4) .advantage__item__wrap .advantage__line {
    width: 139.5px;
    height: 90px;
    margin: 1px 6px 0 188px;
  }
  .news {
    transform: scale(0.86);
    height: 1674px;
    background-color: #FEFEFE;
  }
  .news .news__wrap {
    width: 1521px;
    margin: 0 0 0 195px;
    padding-top: 172px;
    font-size: 0;
  }
  .news .news__wrap .news__main__text {
    display: inline-block;
    margin-left: 65px;
    width: 723px;
  }
  .news .news__wrap .news__main__text .textMain {
    line-height: 58.59px;
  }
  .news .news__wrap .news__main__text .textSecond {
    margin-top: 25px;
  }
  .news .news__wrap .news__main__button {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-left: 512px;
    margin-top: 8px;
    width: 165px;
  }
  .news .news__wrap .news__main__button p {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 14px;
  }
  .news .news__wrap .news__main__button button {
    position: absolute;
    margin-left: 104px;
    margin-top: -1.5px;
  }
  .news .news__wrap .news__item__wrap {
    margin: 0 61px 0 0px;
    padding-top: 31px;
  }
  .news .news__wrap .news__item__wrap .news__item {
    display: inline-block;
    position: relative;
    width: 415px;
    height: 364px;
    margin-left: 65px;
    margin-top: 39px;
    background-color: #FFFFFF;
    border-radius: 50px 0 50px 0;
  }
  .news .news__wrap .news__item__wrap .news__item img {
    border-radius: 0 0 45px 0;
  }
  .news .news__wrap .news__item__wrap .news__item .news__item__stroke {
    position: absolute;
    margin: 218px 0px 0px -415px;
    border-radius: 0;
  }
  .news .news__wrap .news__item__wrap .news__item .textMain {
    position: absolute;
    margin: -20px 0 0 30px;
    font-weight: 700;
    font-size: 25px;
    line-height: 32.5px;
  }
  .news .news__wrap .news__item__wrap .news__item .textSecond {
    position: absolute;
    margin: 55px 0 0 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  .news .news__wrap .news__item__wrap .news__item .news__item__date {
    position: absolute;
    background-color: #FFFFFF;
    width: 50px;
    height: 97px;
    border-radius: 16.5px;
    margin: -197.5px 0px 0px 390px;
  }
  .news .news__wrap .news__item__wrap .news__item .news__item__date .textMain {
    font-weight: 900;
    font-size: 20px;
    line-height: 23.44px;
    position: absolute;
    margin: 24.5px 0px 0px 13.5px;
  }
  .news .news__wrap .news__item__wrap .news__item .news__item__date .textSecond {
    font-weight: 300;
    font-size: 10px;
    line-height: 11.72px;
    position: absolute;
    margin: 59px 0px 0px 13px;
  }
  .news .news__wrap .news__item__wrap .news__item button {
    transform: translateY(-41%) translateX(282%);
    background: unset;
  }
  .contactForm {
    transform: scale(0.86);
    height: 676px;
    background-color: #EEEEEE;
  }
  .contactForm .contactForm__wrap {
    font-size: 0;
  }
  .contactForm .contactForm__wrap .contactForm__info {
    background-color: #F9F9F9;
    width: 700px;
    height: 842px;
    display: inline-block;
    border-radius: 20px 0px 0px 20px;
    vertical-align: top;
    margin: -346px 0px 0px 260px;
  }
  .contactForm .contactForm__wrap .contactForm__info .textMain {
    margin: 100px 0px 0px 100px;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
  }
  .contactForm .contactForm__wrap .contactForm__info .textSecond {
    margin: 18px 0px 0px 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__image__phone {
    position: absolute;
    margin: -50px 0px 0px 492px;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__address {
    margin: 48px 0px 0px 101px;
    height: 103px;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__address .contactForm__info__item__text {
    margin: -51px 0px 0px -45px;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__address .contactForm__info__item__text .textSecond {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.06px;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__address .contactForm__info__item__text .textMain {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    margin: 9px 0px 0px 100px;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__mail {
    margin: 47px 0px 0px 102px;
    height: 68px;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__mail .contactForm__info__item__text {
    margin: -51px 0px 0px -45px;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__mail .contactForm__info__item__text .textSecond {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.06px;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__mail .contactForm__info__item__text .textMain {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    margin: 9px 0px 0px 99px;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__phone {
    margin: 72px 0px 0px 102px;
    height: 103px;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__phone .contactForm__info__item__text {
    margin: -50px 0px 0px -46px;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__phone .contactForm__info__item__text .textSecond {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.06px;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__info__item__phone .contactForm__info__item__text .textMain {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    margin: 10px 0px 0px 99.5px;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__info__links {
    margin-left: 103px;
    margin-top: 60px;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__info__links a {
    font-size: 0;
    width: 37.71px;
    height: 37.71px;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__info__links a img {
    display: inline-block;
  }
  .contactForm .contactForm__wrap .contactForm__info .contactForm__info__links a:nth-child(2) {
    margin-left: 18.29px;
  }
  .contactForm .contactForm__wrap .contactForm__interact {
    background-color: #292D32;
    width: 700px;
    height: 842px;
    display: inline-block;
    border-radius: 0px 20px 20px 0px;
    vertical-align: top;
    margin: -346px 0px 0px 0px;
  }
  .contactForm .contactForm__wrap .contactForm__interact .textMain {
    margin: 100px 0px 0px 129px;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    color: #FFFFFF;
  }
  .contactForm .contactForm__wrap .contactForm__interact .textSecond {
    margin: 18px 0px 0px 129px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }
  .contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form {
    margin: 64.75px 0px 0px 128px;
  }
  .contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form .contactForm__interact__form__name {
    color: #F2F2F2;
    width: 428px;
    height: 55.25px;
    border: 2px solid rgba(242, 242, 242, 0.5);
    background-color: #292D32;
    border-radius: 16px 21px 21px 21px;
  }
  .contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form .contactForm__interact__form__phone {
    color: #F2F2F2;
    margin-top: 50.75px;
    width: 428px;
    height: 55.25px;
    border: 2px solid rgba(242, 242, 242, 0.5);
    background-color: #292D32;
    border-radius: 18px 21px 21px 21px;
  }
  .contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form .contactForm__interact__form__comment {
    color: #F2F2F2;
    margin-top: 50.75px;
    width: 428px;
    border: 2px solid rgba(242, 242, 242, 0.5);
    background-color: #292D32;
    height: 141px;
    border-radius: 17px 21px 21px 21px;
  }
  .contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form .contactForm__interact__form__name__label {
    margin: -10px 0px 0px 16px;
    position: absolute;
    color: #F2F2F2;
    font-size: 18px;
    line-height: 24.06px;
    background-color: #292D32;
    width: 100px;
    text-align: center;
  }
  .contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form .contactForm__interact__form__phone__label {
    margin: 102px 0px 0px -418px;
    position: absolute;
    color: #F2F2F2;
    font-size: 18px;
    line-height: 24.06px;
    background-color: #292D32;
    width: 160px;
    text-align: center;
  }
  .contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form .contactForm__interact__form__comment__label {
    margin: 153px 0px 0px -418px;
    position: absolute;
    color: #F2F2F2;
    font-size: 18px;
    line-height: 24.06px;
    background-color: #292D32;
    width: 135px;
    text-align: center;
  }
  .contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form button {
    margin: 55px 0px 0px -5px;
    display: block;
    background-color: unset;
  }
  .contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form button img {
    border-radius: 50px;
  }
  .contactForm .contactForm__wrap .contactForm__interact .contactForm__interact__form button p {
    position: absolute;
    margin: -44px 0px 0px 67px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
  }
  .footer {
    transform: scale(0.86);
    height: 438px;
  }
  .footer .footer__wrap {
    margin: 60px 260px 0px 260px;
  }
  .footer .footer__wrap hr {
    margin-top: 59px;
    color: rgb(229, 229, 229);
  }
  .footer .footer__wrap .footer__first {
    height: 179px;
    font-size: 0;
  }
  .footer .footer__wrap .footer__first .footer__logo {
    display: inline-block;
    margin-right: 10px;
    transform: translateY(26%);
  }
  .footer .footer__wrap .footer__first .footer__item {
    display: inline-block;
    margin-left: 180px;
    vertical-align: top;
  }
  .footer .footer__wrap .footer__first .footer__item ul li {
    margin-top: 10px;
    height: 19px;
  }
  .footer .footer__wrap .footer__first .footer__item ul li .textMain {
    font-weight: 400;
    font-size: 25px;
    line-height: 29.3px;
    color: rgb(41, 45, 50);
  }
  .footer .footer__wrap .footer__first .footer__item ul li .textSecond {
    font-weight: 300;
    font-size: 16px;
    line-height: 18.75px;
    color: rgb(41, 45, 50);
  }
  .footer .footer__wrap .footer__first .footer__item ul li:first-child {
    padding-bottom: 6px;
    margin-top: 0px;
    height: 29px;
  }
  .footer .footer__wrap .footer__first .footer__item:nth-child(2) {
    width: 214px;
  }
  .footer .footer__wrap .footer__first .footer__item:nth-child(3) {
    width: 195px;
  }
  .footer .footer__wrap .footer__first .footer__item:nth-child(4) {
    width: 139px;
  }
  .footer .footer__wrap .footer__second {
    font-size: 0;
  }
  .footer .footer__wrap .footer__second .footer__item {
    display: inline-block;
    margin-top: 31px;
    vertical-align: top;
  }
  .footer .footer__wrap .footer__second .footer__item .textSecond {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.39px;
    color: #838383;
  }
  .footer .footer__wrap .footer__second .footer__item .textMain {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #292D32;
    margin-top: 12px;
  }
  .footer .footer__wrap .footer__second .footer__item:nth-child(1) {
    width: 404px;
  }
  .footer .footer__wrap .footer__second .footer__item:nth-child(2) {
    width: 289px;
    margin-left: 153px;
  }
  .footer .footer__wrap .footer__second .footer__item:nth-child(3) {
    width: 154.26px;
    margin-left: 153px;
    margin-top: 26px;
  }
}

/*# sourceMappingURL=style.css.map */
